- set_meta_tags title: "#{@article.title} - #{@article.feed.site.name}",
        description: @article.description,
        og: {title: "#{@article.title} - #{@article.feed.site.name}",
                description: @article.description},
        twitter: {title: "#{@article.title} - #{@article.feed.site.name}",
                description: @article.description}
