.fb-page data-href=Settings.site_info.url_facebook data-tabs='timeline' data-small-header='false' data-adapt-container-width='true' data-hide-cover='false' data-show-facepile='true' data-width='585px' data-height='240px'
  blockquote cite=Settings.site_info.url_facebook class='fb-xfbml-parse-ignore'
    a href=Settings.site_info.url_facebook
      | Go to Facebook page
