- set_meta_tags title: cat_list[params[:id].to_i].name,
        description: cat_list[params[:id].to_i].name,
        og: {title: cat_list[params[:id].to_i].name,
                description: cat_list[params[:id].to_i].name},
        twitter: {title: cat_list[params[:id].to_i].name,
                description: cat_list[params[:id].to_i].name}
